/* Animations */

@keyframes spring-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  /* 70% {
    transform: scale(0.98);
  } */
  100% {
    transform: scale(1);
  }
}
