@custom-variant dark (&:is(body.theme-dark *));

@layer base {
  * {
    transition: background-color 0.1s ease-in-out;
    outline: none;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

/* Градиенты */
@utility text-brand-gradient {
  color: transparent;
  background: var(--color-brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility bg-brand-gradient {
  background: var(--color-brand-gradient);
}
@utility border-brand-gradient {
  border-image: var(--color-brand-gradient) 1;
}
@utility fill-brand-gradient {
  fill: var(--color-brand-gradient);
}
