@custom-variant dark (&:is(body.theme-dark *));

@layer base {
  * {
    transition: background-color 0.1s ease-in-out;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

/* Градиенты */
@utility text-gradient-brand {
  color: transparent;
  background: var(--color-gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility bg-gradient-brand {
  background: var(--color-gradient-brand);
}
