@custom-variant dark (&:is(body.theme-dark *));

@layer base {
  * {
    /* transition: background-color 0.1s ease-in-out; */
    outline: none;
  }
  /* Для скроллбаров */
  div,
  .nice-scrollbar {
    /* Chrome, Edge, Safari */
    &::-webkit-scrollbar {
      width: var(--ui-scrollbar-size);
      height: var(--ui-scrollbar-size);
    }
    &::-webkit-scrollbar-track {
      background: var(--ui-scrollbar-track-color);
      border-radius: var(--ui-scrollbar-rounded);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--ui-scrollbar-thumb-color);
      border-radius: var(--ui-scrollbar-rounded);
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--ui-scrollbar-thumb-color-hover);
      cursor: grabbing;
    }
    &::-webkit-scrollbar-corner {
      background: var(--ui-scrollbar-track-color);
    }
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-size: var(--text-base);
    line-height: var(--line-height-normal);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family-base);
  }
}

/* Градиенты */
@utility text-brand-gradient {
  color: transparent;
  background: var(--color-brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility bg-brand-gradient {
  background: var(--color-brand-gradient);
}
@utility border-brand-gradient {
  border-image: var(--color-brand-gradient) 1;
}
@utility fill-brand-gradient {
  fill: var(--color-brand-gradient);
}

/* Скрыть скроллбар */
@utility scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
