@theme {
  /* 
    Палитра нейтральных цветов
    https://hihayk.github.io/scale/#20/20/100/100/0/0/-100/-51/7991F8/121/145/243/white
  */
  --color-neutral-0: #000000;
  --color-neutral-1: #08080b;
  --color-neutral-2: #0f1016;
  --color-neutral-3: #161821;
  --color-neutral-4: #1d202c;
  --color-neutral-5: #242838;
  --color-neutral-6: #2b3044;
  --color-neutral-7: #32374f;
  --color-neutral-8: #383f5b;
  --color-neutral-9: #3f4668;
  --color-neutral-10: #454e74;
  --color-neutral-11: #4b5580;
  --color-neutral-12: #505c8d;
  --color-neutral-13: #56639a;
  --color-neutral-14: #5c6aa7;
  --color-neutral-15: #6171b4;
  --color-neutral-16: #6677c1;
  --color-neutral-17: #6b7ecf;
  --color-neutral-18: #7084dc;
  --color-neutral-19: #758bea;
  --color-neutral-20: #7991f8;
  --color-neutral-21: #8398f5;
  --color-neutral-22: #8ca0f3;
  --color-neutral-23: #95a7f1;
  --color-neutral-24: #9eadef;
  --color-neutral-25: #a6b4ee;
  --color-neutral-26: #afbaed;
  --color-neutral-27: #b6c1ec;
  --color-neutral-28: #bec7ec;
  --color-neutral-29: #c5cceb;
  --color-neutral-30: #ccd2ec;
  --color-neutral-31: #d2d7ec;
  --color-neutral-32: #d9dded;
  --color-neutral-33: #dfe2ee;
  --color-neutral-34: #e4e6f0;
  --color-neutral-35: #e9ebf1;
  --color-neutral-36: #eeeff3;
  --color-neutral-37: #f3f4f6;
  --color-neutral-38: #f7f8f9;
  --color-neutral-39: #fbfbfc;
  --color-neutral-40: #ffffff;

  /* Base */
  --color-background: var(--color-slate-100);
  --color-background-soft: var(--color-slate-50);
  --color-background-hard: oklch(0.91 0.02 262.43);
  --color-foreground: var(--color-slate-700);
  --color-foreground-soft: var(--color-slate-500);
  --color-foreground-hard: var(--color-slate-900);

  /* Primary */
  --color-primary: var(--color-fuchsia-600);
  --color-primary-accent: var(--color-fuchsia-700);
  --color-primary-foreground: var(--color-white);
  --color-primary-foreground-accent: var(--color-white);

  /* Secondary */

  --color-secondary: var(--color-violet-600);
  --color-secondary-accent: var(--color-violet-700);
  --color-secondary-foreground: var(--color-white);
  --color-secondary-foreground-accent: var(--color-white);

  /* Warning */
  --color-warning: var(--color-amber-400);
  --color-warning-accent: var(--color-amber-300);
  --color-warning-foreground: var(--color-foreground);
  --color-warning-foreground-accent: var(--color-foreground);

  /* Danger */
  --color-danger: var(--color-red-600);
  --color-danger-accent: var(--color-red-500);
  --color-danger-foreground: var(--color-background);
  --color-danger-foreground-accent: var(--color-background);

  /* Призрачные цвета */
  --color-ghost-base: color-mix(in oklch, var(--color-neutral-15) 18%, transparent);
  --color-ghost-epic: color-mix(in oklch, var(--color-secondary) 50%, transparent);

  /* Градиенты */
  --color-gradient-brand: linear-gradient(135deg, var(--color-primary), var(--color-secondary));

  /* Скроллбар */
  --color-scrollbar-track: transparent;
  --color-scrollbar-thumb: var(--color-slate-300);

  /* Границы */
  --color-border: color-mix(in oklch, var(--color-gray-500) 10%, transparent);

  /* Тениииии (ууу 👻) */
  --shadow-ghost-xs: 0px 1px 5px 0px var(--color-ghost-base);
  --shadow-ghost-sm: 0px 5px 10px 0px var(--color-ghost-base);
  --shadow-ghost-md: 0px 10px 20px 0px var(--color-ghost-base);
  --shadow-ghost-lg: 0px 0px 45px 0px var(--color-ghost-base);
  --shadow-ghost-xl: 0px 0px 60px 0px var(--color-ghost-base);
  --shadow-ghost-2xl: 0px 0px 100px 0px var(--color-ghost-base);
  --shadow-ghost-epic: 0px 0px 400px -80px var(--color-ghost-epic);

  /* Размеры текста */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.375rem; /* 22px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.625rem; /* 26px */
  --text-4xl: 1.75rem; /* 28px */
  --text-5xl: 1.875rem; /* 30px */
  --text-6xl: 2rem; /* 32px */
  --text-7xl: 2.125rem; /* 34px */
  --text-8xl: 2.25rem; /* 36px */

  /* Жирнота текста */
  --font-weight-mega-light: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-mega-bold: 900;

  /* Шрифты */
  --font-family-base: "Onest", sans-serif;
  --font-family-display: "Unbounded", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;

  /* Макет */
  --layout-header-height: 6.25rem;
  --layout-footer-height: 4rem;
  --layout-sidebar-width: 16rem;
  --layout-sidebar-collapsed-width: 4.5rem;
  --layout-infobar-width: 25rem;
  --layout-infobar-collapsed-width: 4.5rem;
  --layout-transition-duration: 125ms;
  --layout-inner-offset: 1.875rem;
}

/* 🌙  */
body.theme-dark {
  /* Base */
  --color-background-soft: var(--color-neutral-5);
  --color-background: var(--color-neutral-4);
  --color-background-hard: var(--color-neutral-3);
  --color-foreground: var(--color-slate-100);
  --color-foreground-soft: var(--color-gray-300);
  --color-foreground-hard: var(--color-white);

  /* Warning */
  --color-warning-foreground: var(--color-background);
  --color-warning-foreground-accent: var(--color-background);

  /* Danger */
  --color-danger-foreground: var(--color-foreground);
  --color-danger-foreground-accent: var(--color-foreground);

  /* Скроллбар */
  --color-scrollbar-thumb: var(--color-neutral-6);

  /* Границы */
  --color-border: color-mix(in oklch, var(--color-gray-500) 10%, transparent);

  /* Призрачные цвета */
  --color-ghost-base: color-mix(in oklch, var(--color-neutral-0) 30%, transparent);

  /* Тениииии (ууу 👻) */
  --shadow-ghost-xs: 0px 1px 5px 0px var(--color-ghost-base);
  --shadow-ghost-sm: 0px 5px 10px 0px var(--color-ghost-base);
  --shadow-ghost-md: 0px 10px 20px 0px var(--color-ghost-base);
  --shadow-ghost-lg: 0px 0px 45px 0px var(--color-ghost-base);
  --shadow-ghost-xl: 0px 0px 60px 0px var(--color-ghost-base);
  --shadow-ghost-2xl: 0px 0px 100px 0px var(--color-ghost-base);
  --shadow-ghost-epic: 0px 0px 400px -80px var(--color-ghost-epic);
}
