@import "tailwindcss";

@theme {
  --md-panel-gap: 0.5rem;
  --md-panel-padding: 0.5rem;
  --md-panel-border-radius: 0.5rem;
  --md-panel-color: var(--color-background);
  --md-panel-color-hover: var(--color-background-hard);

  --md-content-padding: 1rem;
  --md-content-border-color: var(--color-background);
  --md-content-border-radius: 0.5rem;
}

@layer components {
  .markdownEditorPanel {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--md-panel-color);
    border-top-left-radius: var(--md-panel-border-radius);
    border-top-right-radius: var(--md-panel-border-radius);
    padding: var(--md-panel-padding);
    gap: var(--md-panel-gap);

    & div {
      margin: 0;
      padding: 0;
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    & button {
      background-color: var(--md-panel-color);
      border-radius: var(--md-panel-border-radius);
      padding: var(--md-panel-padding);
      gap: var(--md-panel-gap);
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover,
      &[data-state="on"] {
        background-color: var(--md-panel-color-hover);
      }

      &[role="combobox"] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        gap: var(--md-panel-gap);
        background: white;
      }
    }
  }

  .markdownEditorContent {
    padding: var(--md-content-padding);
    border: 3px solid;
    border-color: var(--md-content-border-color);
    border-bottom-left-radius: var(--md-content-border-radius);
    border-bottom-right-radius: var(--md-content-border-radius);
    border-top: none;
  }

  [class^="_tooltipContent"] {
    display: none;
  }
  /* [class^="_toolbarButtonDropdownContainer"] {
    background: white;
  }
  .mdxeditor-popup-container {
    display: none;
  } */
}
