@custom-variant dark (&:is([data-theme="dark"] *));
@custom-variant page-expanded (&:is([data-page-expanded="expanded"] *));
@custom-variant sidebar-collapsed (&:is([data-sidebar-collapsed="collapsed"] *));
@custom-variant footer-visible (&:is([data-footer-visible="visible"] *));
@custom-variant infobar-visible (&:is([data-infobar-visible="visible"] *));

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family-base);
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-normal);
  }
  * {
    transition: background-color 0.1s ease-in-out;
  }
}

/* Градиенты */
@utility text-gradient-brand {
  color: transparent;
  background: var(--color-gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility bg-gradient-brand {
  background: var(--color-gradient-brand);
}
