@theme {
  --sidebar-width: var(--sidebar-width);
  --sidebar-collapsed-width: var(--sidebar-collapsed-width);
}

@layer base {
  :root {
    --sidebar-width: 280px;
    --sidebar-collapsed-width: 80px;
  }
}
