@custom-variant dark (&:is([data-theme-mode="dark"] *));

@layer base {
  * {
    transition: background-color 0.1s ease-in-out;
  }
}

/* Градиенты */
@utility text-gradient-brand {
  color: transparent;
  background: var(--color-gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility bg-gradient-brand {
  background: var(--color-gradient-brand);
}
