@custom-variant dark (&:is([data-theme-mode="dark"] *));
@custom-variant page-expanded (&:is([data-page-mode="expanded"] *));
@custom-variant sidebar-collapsed (&:is([data-sidebar-mode="collapsed"] *));
@custom-variant footer-visible (&:is([data-footer-mode="visible"] *));
@custom-variant infobar-visible (&:is([data-infobar-mode="visible"] *));

@layer base {
  * {
    transition: background-color 0.1s ease-in-out;
  }
}

/* Градиенты */
@utility text-gradient-brand {
  color: transparent;
  background: var(--color-gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility bg-gradient-brand {
  background: var(--color-gradient-brand);
}
