.codeWrapper {
  padding: 0;
}

.codeBlock {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 20px;

  & pre {
    display: block;
    padding: 20px 25px;
    border-radius: 1rem;
    border: none;
    font-family: var(--typo-font-family-mono);
    background-color: var(--typo-color-neutral-1);
    color: var(--typo-color-neutral-5);
    overflow-x: auto;

    &.hljs {
      background-color: var(--typo-color-neutral-1) !important;
    }
  }
  & pre > code {
    display: block;
    background-color: transparent;
    color: inherit;
    font-weight: var(--typo-font-weight-bold);
    padding: 0;
  }
}

.codeBlockLanguage {
  display: inline-block;
  width: fit-content;
  margin-left: 40px;
  padding: 4px 20px 0 20px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--typo-color-neutral-1);
  font-size: var(--typo-font-size-small);
  font-weight: var(--typo-font-weight-bold);
  color: var(--typo-color-neutral-4);
}
