@import "tailwindcss";

@theme {
  --typo-spacing: 1.125rem; /* 18px */
  --typo-line-height: 1.7em;
  --typo-font-weight: var(--font-weight-normal);
  --typo-font-weight-bold: var(--font-weight-semibold);
  --typo-font-size: var(--text-lg);
  --typo-font-size-small: var(--text-base);
  --typo-letter-spacing: 0;
  --typo-font-family: var(--font-family-base);
  --typo-font-family-mono: var(--font-family-mono);
  --typo-color-primary: var(--color-primary);
  --typo-color-primary-accent: var(--color-primary-accent);
  --typo-color-neutral-1: var(--color-background);
  --typo-color-neutral-2: var(--color-background-hard);
  --typo-color-neutral-3: color-mix(in oklch, var(--color-background-hard) 50%, transparent);
  --typo-color-neutral-4: var(--color-foreground-hard);
  --typo-color-neutral-5: var(--color-foreground-soft);
}

/* 🌙  */
/* body.theme-dark {
  --typo-color-neutral-1: var(--color-background);
  --typo-color-neutral-2: var(--color-background-hard);
  --typo-color-neutral-3: color-mix(in oklch, var(--color-background-hard) 50%, transparent);
  --typo-color-neutral-4: var(--color-foreground-hard);
  --typo-color-neutral-5: var(--color-foreground-soft);
} */

@layer components {
  .typographyContainer {
    /* Общие */
    & * {
      font-size: var(--typo-font-size);
      font-weight: var(--typo-font-weight);
      line-height: var(--typo-line-height);
      letter-spacing: var(--typo-letter-spacing);
    }

    /* Блоки */
    & p,
    & ul,
    & ol,
    & dl,
    & blockquote,
    & pre,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      margin-bottom: var(--typo-spacing);
    }

    /* Форматирование текста */
    & strong {
      font-weight: var(--typo-font-weight-bold);
    }
    & em {
      font-style: italic;
      color: var(--typo-color-neutral-5);
    }

    /* Ссылки */
    & a {
      color: var(--typo-color-primary);
      text-decoration: none;
      transition: color 0.2s;
    }
    & a:hover {
      color: var(--typo-color-primary-accent);
      text-decoration: underline;
    }

    /* Заголовки */
    & h1,
    & h1 * {
      font-size: var(--text-6xl);
      font-weight: var(--font-weight-bold);
    }
    & h2,
    & h2 * {
      font-size: var(--text-5xl);
      font-weight: var(--font-weight-bold);
    }
    & h3,
    & h3 * {
      font-size: var(--text-4xl);
      font-weight: var(--font-weight-bold);
    }
    & h4,
    & h4 * {
      font-size: var(--text-3xl);
      font-weight: var(--font-weight-bold);
    }
    & h5,
    & h5 * {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-bold);
    }
    & h6,
    & h6 * {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-bold);
    }

    /* Разделитель */
    & hr {
      margin-block: calc(var(--typo-spacing) * 1.5);
      border: 1px solid var(--typo-color-neutral-3);
    }

    /* Цитаты */
    & blockquote {
      padding: 1rem 1.5rem;
      border-left: 0.25rem solid var(--typo-color-neutral-4);
      background-color: var(--typo-color-neutral-3);
    }

    /* Списки */
    & ul,
    & ol {
      padding-left: 2.5rem;
    }
    & ul li,
    & ol li {
      padding-left: 0.6rem;
    }
    & ul {
      list-style: disc;
    }
    & ol {
      list-style: decimal;
    }
    & ul ul,
    & ol ol {
      list-style: circle;
    }

    /* Код */
    & code {
      display: inline-block;
      padding: 0 0.7rem;
      border-radius: 1rem;
      font-family: var(--typo-font-family-mono);
      font-weight: var(--typo-font-weight-bold);
      font-size: var(--typo-font-size-small);
      background-color: var(--typo-color-neutral-3);
      color: var(--typo-color-neutral-5);
    }
    & pre {
      display: block;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      border: none;
      font-family: var(--typo-font-family-mono);
      background-color: var(--typo-color-neutral-3);
      color: var(--typo-color-neutral-5);
    }
    & pre > code {
      display: block;
      background-color: transparent;
      color: inherit;
      font-weight: var(--typo-font-weight-bold);
      padding: 0;
    }
  }
}
