/** Макет "Lucent" */
@import "tailwindcss";

/* @custom-variant dark (&:is([data-theme="dark"] *));
@custom-variant page-expanded (&:is([data-page-expanded="expanded"] *));
@custom-variant sidebar-collapsed (&:is([data-sidebar-collapsed="collapsed"] *));
@custom-variant footer-visible (&:is([data-footer-visible="visible"] *));
@custom-variant infobar-visible (&:is([data-infobar-visible="visible"] *)); */

@theme {
  --layout-separator-color: var(--color-border);
  --layout-animation-change-duration: 0.15s;
  --layout-animation-inner-change-duration: 0.5s;

  --header-height: 5rem;
  --header-gap: 1.5rem;
  --header-background-color: var(--color-background-soft);
  --header-offset-x: 3rem;
  --header-offset-y: 0;

  --content-offset-x: 5rem;
  --content-offset-y: 3.5rem;

  --footer-height: 5rem;
  --footer-gap: 1.5rem;
  --footer-background-color: var(--color-background-hard);
  --footer-offset-x: var(--header-offset-x);
  --footer-offset-y: 0;

  --sidebar-width: 16.875rem;
  --sidebar-offset-x: 1rem;
  --sidebar-offset-y: 1rem;
  --sidebar-background-color: var(--color-background-hard);
  --sidebar-header-height: var(--header-height);
  --sidebar-footer-height: var(--footer-height);
  --sidebar-footer-background-color: var(--color-gradient-brand);
  --sidebar-footer-text-color: var(--color-primary-foreground);
  --sidebar-collapsed-width: 5rem;
  --sidebar-collapsed-background-color: var(--color-background);

  --infobar-width: 25rem;
  --infobar-offset-x: 2rem;
  --infobar-offset-y: 2rem;
  --infobar-background-color: var(--color-background-soft);
}

/* Темная движуха */

[data-theme="dark"] {
  --sidebar-collapsed-background-color: var(--color-background-soft);
  --header-background-color: var(--color-background-soft);
  --footer-background-color: var(--color-background-hard);
  --infobar-background-color: var(--color-background-soft);
}

/* Режим оттопыренности лейаута 🤪 */

/* [data-layout-mode="expanded"] {
  --layout-offset-x: 3rem;
} */

/* Layout */

.layout {
  position: fixed;
  inset: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-base);
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
}

/* Page */

.layoutPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--sidebar-width));
  transition: width var(--layout-animation-change-duration) ease-in-out;

  &.expanded {
    width: calc(100vw - var(--sidebar-collapsed-width));
  }
}

/* Header */

.layoutHeader {
  height: var(--header-height);
  border-block-end: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--header-background-color);
}

.layoutHeaderInner {
  display: flex;
  align-items: center;
  gap: var(--header-gap);
  padding-inline: var(--header-offset-x);
  padding-block: var(--header-offset-y);
  height: 100%;
}

/* Body */

.layoutBody {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  transition: height var(--layout-animation-change-duration) ease-in-out;
}

/* Content */

.layoutContent {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.layoutContentInner {
  display: flex;
  flex-direction: column;
  padding-inline: var(--content-offset-x);
  padding-block: var(--content-offset-y);
}

/* Footer */

.layoutFooter {
  height: var(--footer-height);
  border-block-start: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--footer-background-color);
  transition: height var(--layout-animation-change-duration) ease-in-out;

  &.footerHidden {
    height: 0;
  }
}

.layoutFooterInner {
  display: flex;
  align-items: center;
  gap: var(--footer-gap);
  padding-inline: var(--footer-offset-x);
  padding-block: var(--footer-offset-y);
  height: 100%;
  opacity: 1;
  transition: opacity var(--layout-animation-inner-change-duration) ease-in-out;

  &.footerHidden {
    opacity: 0;
    transition: none;
  }
}

/* Infobar */

.layoutInfobar {
  width: var(--infobar-width);
  background-color: var(--infobar-background-color);
  box-shadow: var(--shadow-ghost-md);
  transition: width var(--layout-animation-change-duration) ease-in-out;

  &.infobarHidden {
    width: 0;
  }
}

.layoutInfobarInner {
  display: flex;
  flex-direction: column;
  padding-block: var(--infobar-offset-y);
  padding-inline: var(--infobar-offset-x);
  height: 100%;
  opacity: 1;
  transition: opacity var(--layout-animation-inner-change-duration) ease-in-out;

  &.infobarHidden {
    opacity: 0;
    transition: none;
  }
}

/* Sidebar */

.layoutSidebar {
  position: relative;
  z-index: 10;
  overflow: hidden;
  box-shadow: var(--shadow-ghost-xl);
  animation: sidebarExpand var(--layout-animation-change-duration) ease-in-out forwards;
  /* width: var(--sidebar-width); */
  /* transition: width 0.1 ease-in-out; */

  &.collapsed {
    /* width: var(--sidebar-collapsed-width); */
    animation: sidebarCollapse var(--layout-animation-change-duration) ease-in-out forwards;
  }
}

.layoutSidebarHeader {
  height: var(--sidebar-header-height);
  border-block-end: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--color-background-soft);
}

.layoutSidebarHeaderInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: innerShow var(--layout-animation-inner-change-duration) ease-in-out forwards;

  &.collapsed {
    animation: innerHide var(--layout-animation-inner-change-duration) ease-in-out forwards;
  }
}

.layoutSidebarBody {
  flex: 1;
  height: calc(100vh - var(--sidebar-header-height) - var(--sidebar-footer-height));
}

.layoutSidebarBodyInner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  animation: innerShow var(--layout-animation-inner-change-duration) ease-in-out forwards;

  &.collapsed {
    animation: innerHide var(--layout-animation-inner-change-duration) ease-in-out forwards;
  }
}

.layoutSidebarFooter {
  height: var(--sidebar-footer-height);
  background: var(--sidebar-footer-background-color);
  color: var(--sidebar-footer-text-color);
}

.layoutSidebarFooterInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: innerShow var(--layout-animation-inner-change-duration) ease-in-out forwards;

  &.collapsed {
    animation: innerHide var(--layout-animation-inner-change-duration) ease-in-out forwards;
  }
}

@keyframes sidebarExpand {
  0% {
    width: var(--sidebar-collapsed-width);
  }
  100% {
    width: var(--sidebar-width);
  }
}
@keyframes sidebarCollapse {
  0% {
    width: var(--sidebar-width);
  }
  100% {
    width: var(--sidebar-collapsed-width);
  }
}
@keyframes innerShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes innerHide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
