/** Lucent layout */
@import "tailwindcss";

@theme {
  --layout-page-width: 100vw;
  --layout-header-height: 5rem;
  --layout-header-gap: 1.5rem;
  --layout-offset-x: 3rem;
  --layout-offset-y: 1.5rem;

  --sidebar-width: 16.875rem;
  --sidebar-header-height: 5rem;
  --sidebar-background-color: var(--color-background-hard);
  --sidebar-separator-color: var(--color-border);
  --sidebar-footer-height: 5rem;
  --sidebar-offset-x: 1rem;
  --sidebar-offset-y: 1rem;

  --sidebar-collapsed-width: 5rem;
  --sidebar-collapsed-background-color: var(--color-background-soft);

  --infobar-width: 25rem;
  --infobar-offset-x: 2rem;
  --infobar-offset-y: 2rem;
}

/* Темная движуха */

[data-theme="dark"] {
  --sidebar-collapsed-background-color: var(--color-background-soft);
}

/* Режим оттопыренности лейаута 🤪 */

/* [data-layout-mode="expanded"] {
  --layout-offset-x: 3rem;
} */

/* Layout */

.layout {
  position: fixed;
  inset: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--colors-background);
}

/* Page */

.layoutPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--sidebar-width));

  &.expanded {
    width: calc(100vw - var(--sidebar-collapsed-width));
  }
}

/* Header */

.layoutHeader {
  height: var(--layout-header-height);
  border-block-end: 0.0625rem solid var(--sidebar-separator-color);
}

.layoutHeaderInner {
  display: flex;
  align-items: center;
  gap: var(--layout-header-gap);
  padding-inline: var(--layout-offset-x);
  padding-block: var(--layout-offset-y);
  height: 100%;
}

/* Body */

.layoutBody {
  flex: 1;
  display: flex;
}

/* Content */

.layoutContent {
  flex: 1;
  height: calc(100vh - var(--layout-header-height));
  overflow-x: hidden;
  overflow-y: auto;
}

.layoutContentInner {
  display: flex;
  flex-direction: column;
  padding-inline: var(--layout-offset-x);
  padding-block: var(--layout-offset-y);
}

/* Infobar */

.layoutInfobar {
  width: var(--infobar-width);
  background-color: var(--color-background-soft);
  transition: width 0.25s ease-in-out;
  box-shadow: var(--shadow-ghost-md);

  &.collapsed {
    width: 0;
  }
}

.layoutInfobarInner {
  display: flex;
  flex-direction: column;
  padding-block: var(--infobar-offset-y);
  padding-inline: var(--infobar-offset-x);
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease-in-out;

  &.collapsed {
    transition: opacity 0.02s ease-in-out;
    opacity: 0;
  }
}

/* Sidebar */

.layoutSidebar {
  position: relative;
  z-index: 10;
  width: var(--sidebar-width);
  overflow: hidden;
  transition: width 0.12s ease-in-out;
  box-shadow: var(--shadow-ghost-xl);

  &.collapsed {
    width: var(--sidebar-collapsed-width);
    background-color: var(--sidebar-collapsed-background-color);
  }
}

.layoutSidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--sidebar-header-height);
  border-block-end: 0.0625rem solid var(--sidebar-separator-color);
}

.layoutSidebarBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--sidebar-header-height) - var(--sidebar-footer-height));
  overflow-y: auto;
}

.layoutSidebarSection {
  padding-inline: var(--sidebar-offset-x);
  padding-block: var(--sidebar-offset-y);
}

.layoutSidebarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--sidebar-footer-height);
  border-block-start: 0.0625rem solid var(--sidebar-separator-color);
}
