/** Lucent layout */
@import "tailwindcss";

@theme {
  --layout-offset-x: 3rem;
  --layout-offset-y: 1.5rem;
  --layout-separator-color: var(--color-border);
  --layout-page-width: 100vw;
  --layout-header-height: 5rem;
  --layout-header-gap: 1.5rem;
  --layout-header-background-color: var(--color-background-soft);
  --layout-footer-height: 5rem;
  --layout-footer-gap: 1.5rem;
  --layout-footer-background-color: var(--color-background-hard);

  --sidebar-width: 16.875rem;
  --sidebar-offset-x: 1rem;
  --sidebar-offset-y: 1rem;
  --sidebar-background-color: var(--color-background-hard);
  --sidebar-header-height: var(--layout-header-height);
  --sidebar-footer-height: var(--layout-footer-height);
  --sidebar-footer-background-color: var(--color-gradient-brand);
  --sidebar-footer-text-color: var(--color-primary-foreground);
  --sidebar-collapsed-width: 5rem;
  --sidebar-collapsed-background-color: var(--color-background);

  --infobar-width: 25rem;
  --infobar-offset-x: 2rem;
  --infobar-offset-y: 2rem;
  --infobar-background-color: var(--color-background-soft);
}

/* Темная движуха */

[data-theme="dark"] {
  --sidebar-collapsed-background-color: var(--color-background-soft);
  --layout-header-background-color: var(--color-background-soft);
  --layout-footer-background-color: var(--color-background-hard);
  --infobar-background-color: var(--color-background-soft);
}

/* Режим оттопыренности лейаута 🤪 */

/* [data-layout-mode="expanded"] {
  --layout-offset-x: 3rem;
} */

/* Layout */

.layout {
  position: fixed;
  inset: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--colors-background);
}

/* Page */

.layoutPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--sidebar-width));

  &.expanded {
    width: calc(100vw - var(--sidebar-collapsed-width));
  }
}

/* Header */

.layoutHeader {
  height: var(--layout-header-height);
  border-block-end: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--layout-header-background-color);
}

.layoutHeaderInner {
  display: flex;
  align-items: center;
  gap: var(--layout-header-gap);
  padding-inline: var(--layout-offset-x);
  padding-block: var(--layout-offset-y);
  height: 100%;
}

/* Body */

.layoutBody {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh - var(--layout-header-height) - var(--layout-footer-height));
}

/* Content */

.layoutContent {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.layoutContentInner {
  display: flex;
  flex-direction: column;
  padding-inline: var(--layout-offset-x);
  padding-block: var(--layout-offset-y);
}

/* Footer */

.layoutFooter {
  height: var(--layout-footer-height);
  border-block-start: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--layout-footer-background-color);
  transition: height 0.2s ease-in-out;

  &:focus {
    border: 1px solid red;
  }

  &.footerHidden {
    height: 0;
  }
}

.layoutFooterInner {
  display: flex;
  align-items: center;
  gap: var(--layout-footer-gap);
  padding-inline: var(--layout-offset-x);
  padding-block: var(--layout-offset-y);
  height: 100%;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;

  &:focus {
    border: 1px solid violet;
  }

  &.footerHidden {
    transition: none;
    opacity: 0;
  }
}

/* Infobar */

.layoutInfobar {
  width: var(--infobar-width);
  background-color: var(--infobar-background-color);
  box-shadow: var(--shadow-ghost-md);
  transition: width 0.1s ease-in-out;

  &.infobarHidden {
    width: 0;
  }
}

.layoutInfobarInner {
  display: flex;
  flex-direction: column;
  padding-block: var(--infobar-offset-y);
  padding-inline: var(--infobar-offset-x);
  height: 100%;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;

  &.infobarHidden {
    transition: none;
    opacity: 0;
  }
}

/* Sidebar */

.layoutSidebar {
  position: relative;
  z-index: 10;
  width: var(--sidebar-width);
  overflow: hidden;
  transition: width 0.08s ease-in-out;
  box-shadow: var(--shadow-ghost-xl);

  &.collapsed {
    width: var(--sidebar-collapsed-width);
    /* background-color: var(--sidebar-collapsed-background-color); */
    /* box-shadow: var(--shadow-ghost-md); */
  }
}

.layoutSidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--sidebar-header-height);
  border-block-end: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--color-background-soft);
}

.layoutSidebarBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--sidebar-header-height) - var(--sidebar-footer-height));
  overflow-y: auto;
}

.layoutSidebarSection {
  padding-inline: var(--sidebar-offset-x);
  padding-block: var(--sidebar-offset-y);
}

.layoutSidebarFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--sidebar-footer-height);
  font-weight: var(--font-weight-bold);
  /* border-block-start: 0.0625rem solid var(--layout-separator-color); */

  background: var(--sidebar-footer-background-color);
  color: var(--sidebar-footer-text-color);

  /* &.collapsed {
    background: var(--sidebar-collapsed-footer-background-color);
    color: var(--sidebar-collapsed-footer-text-color);
  } */
}
