/** Макет "Lucent" */

:root {
  --layout-separator-color: var(--color-border);
  --layout-animation-change-duration: 0.15s;
  --layout-animation-inner-change-duration: 1s;

  --header-height: 5rem;
  --header-gap: 1.5rem;
  --header-background-color: var(--color-background-soft);
  --header-offset-x: 3rem;
  --header-offset-y: 0;

  --content-offset-x: 5rem;
  --content-offset-y: 3.5rem;

  --footer-height: 5rem;
  --footer-gap: 1.5rem;
  --footer-background-color: var(--color-background-hard);
  --footer-offset-x: var(--header-offset-x);
  --footer-offset-y: 0;

  --sidebar-width: 16.875rem;
  --sidebar-offset-x: 1rem;
  --sidebar-offset-y: 1rem;
  --sidebar-background-color: var(--color-background-hard);
  --sidebar-header-height: var(--header-height);
  --sidebar-footer-height: var(--footer-height);
  --sidebar-footer-background-color: var(--color-gradient-brand);
  --sidebar-footer-text-color: var(--color-primary-foreground);
  --sidebar-collapsed-width: 5rem;
  --sidebar-collapsed-background-color: var(--color-background);

  --infobar-width: 25rem;
  --infobar-offset-x: 2rem;
  --infobar-offset-y: 2rem;
  --infobar-background-color: var(--color-background-soft);
  --infobar-collapsed-width: 5rem;
  --infobar-collapsed-background-color: var(--color-background-soft);
}

/* Темная движуха */

[data-theme-mode="dark"] {
  --sidebar-collapsed-background-color: var(--color-background-soft);
  --header-background-color: var(--color-background-soft);
  --footer-background-color: var(--color-background-hard);
  --infobar-background-color: var(--color-background-soft);
}

/* Layout */

.layout {
  position: fixed;
  inset: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-base);
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
}

/* Page */

.layoutPage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */

.layoutHeader {
  position: relative;
  z-index: 10;
  height: var(--header-height);
  overflow: hidden;
  border-block-end: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--header-background-color);
  transition: height var(--layout-animation-change-duration) ease-in-out;

  &.hidden {
    height: 0;
  }
}

.layoutHeaderInner {
  display: flex;
  align-items: center;
  gap: var(--header-gap);
  padding-inline: var(--header-offset-x);
  padding-block: var(--header-offset-y);
  height: 100%;
  opacity: 1;
  transition: opacity var(--layout-animation-inner-change-duration) ease-in-out;

  &.hidden {
    opacity: 0;
    transition: none;
  }
}

/* Body */

.layoutBody {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Content */

.layoutContent {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.layoutContentInner {
  display: flex;
  flex-direction: column;
  padding-inline: var(--content-offset-x);
  padding-block: var(--content-offset-y);
}

/* Footer */

.layoutFooter {
  height: var(--footer-height);
  overflow: hidden;
  border-block-start: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--footer-background-color);
  transition: height var(--layout-animation-change-duration) ease-in-out;

  &.hidden {
    height: 0;
  }
}

.layoutFooterInner {
  display: flex;
  align-items: center;
  gap: var(--footer-gap);
  padding-inline: var(--footer-offset-x);
  padding-block: var(--footer-offset-y);
  height: 100%;
  opacity: 1;
  transition: opacity var(--layout-animation-inner-change-duration) ease-in-out;

  &.hidden {
    opacity: 0;
    transition: none;
  }
}

/* Infobar */

.layoutInfobar {
  width: var(--infobar-width);
  background-color: var(--infobar-background-color);
  box-shadow: var(--shadow-ghost-md);
  transition: width var(--layout-animation-change-duration) ease-in-out;

  &.hidden {
    display: none;
  }
  &.collapsed {
    width: var(--infobar-collapsed-width);
  }
}

.layoutInfobarInner {
  display: flex;
  flex-direction: column;
  padding-block: var(--infobar-offset-y);
  padding-inline: var(--infobar-offset-x);
  height: 100%;
  opacity: 1;
  animation: innerShow var(--layout-animation-inner-change-duration) ease-in-out forwards;

  /* &.hidden {} */
  &.collapsed {
    animation: innerHide var(--layout-animation-inner-change-duration) ease-in-out forwards;
  }
}

/* Sidebar */

.layoutSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  width: var(--sidebar-width);
  height: 100%;
  overflow: hidden;
  box-shadow: var(--shadow-ghost-xl);
  transition: width var(--layout-animation-change-duration) ease-in-out;
  /* animation: sidebarExpand var(--layout-animation-change-duration) ease-in-out forwards; */

  &.hidden {
    display: none;
  }
  &.collapsed {
    width: var(--sidebar-collapsed-width);
    /* animation: sidebarCollapse var(--layout-animation-change-duration) ease-in-out forwards; */
  }
}

.layoutSidebarHeader {
  height: var(--sidebar-header-height);
  border-block-end: 0.0625rem solid var(--layout-separator-color);
  background-color: var(--color-background-soft);

  /* &.hidden {} */
  /* &.collapsed {} */
}

.layoutSidebarHeaderInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: innerShow var(--layout-animation-inner-change-duration) ease-in-out forwards;

  /* &.hidden {} */
  &.collapsed {
    animation: innerHide var(--layout-animation-inner-change-duration) ease-in-out forwards;
  }
}

.layoutSidebarBody {
  flex-grow: 1;

  /* &.hidden {} */
  /* &.collapsed {} */
}

.layoutSidebarBodyInner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  animation: innerShow var(--layout-animation-inner-change-duration) ease-in-out forwards;

  /* &.hidden {} */
  &.collapsed {
    animation: innerHide var(--layout-animation-inner-change-duration) ease-in-out forwards;
  }
}

.layoutSidebarFooter {
  margin-top: auto;
  height: var(--sidebar-footer-height);
  background: var(--sidebar-footer-background-color);
  color: var(--sidebar-footer-text-color);

  /* &.hidden {} */
  /* &.collapsed {} */
}

.layoutSidebarFooterInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: innerShow var(--layout-animation-inner-change-duration) ease-in-out forwards;

  /* &.hidden {} */
  &.collapsed {
    animation: innerHide var(--layout-animation-inner-change-duration) ease-in-out forwards;
  }
}

/* Анимашки */
@keyframes sidebarExpand {
  0% {
    width: var(--sidebar-collapsed-width);
  }
  100% {
    width: var(--sidebar-width);
  }
}
@keyframes sidebarCollapse {
  0% {
    width: var(--sidebar-width);
  }
  100% {
    width: var(--sidebar-collapsed-width);
  }
}
@keyframes innerShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes innerHide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
