/* UI tokens */

@theme {
  --ui-offset-x: 14px;
  --ui-offset-y: 2px;
  --ui-gap: 3px;

  --ui-border-width: 2px;
  --ui-rounded: 5px;

  --ui-transition-color-duration: 125ms;
  --ui-transition-border-duration: 100ms;
  --ui-transition-transform-duration: 75ms;

  --ui-animation-hover: spring-pop 0.35s ease-in-out;

  /* prettier-ignore */
  --ui-transition: 
    background-color var(--ui-transition-color-duration) ease-in-out,
    border-color var(--ui-transition-border-duration) ease-in-out,
    transform var(--ui-transition-transform-duration) ease-in-out;

  --ui-shadow: var(--shadow-sm);

  /* Плейсхолдер */
  --ui-placeholder-color: color-mix(in srgb, var(--color-foreground-soft) 50%, transparent);
  --ui-placeholder-text-size: 14px;

  /* Карточка */
  --ui-card-gap: 10px;
  --ui-card-offset-x: 10px;
  --ui-card-offset-y: 13px;
  /* --ui-card-background: color-mix(in srgb, var(--color-background-soft) 70%, transparent); */
  --ui-card-background: var(--color-background-soft);
  --ui-card-border: var(--color-background);
  --ui-card-rounded: 10px;
  --ui-card-shadow: 0px 2px 34px 0px var(--color-ghost-base);

  /* Таблица */
  --ui-table-offset-x: 20px;
  --ui-table-offset-y: 7px;
  --ui-table-border-width: 2px;
  --ui-table-border-color: var(--ui-card-border);

  /* Скроллбар */
  --ui-scrollbar-size: 7px;
  --ui-scrollbar-track-color: transparent;
  --ui-scrollbar-thumb-color: var(--color-slate-300);
  --ui-scrollbar-thumb-color-hover: var(--color-slate-400);
  --ui-scrollbar-rounded: 4px;
}

/* 🌙  */
body.theme-dark {
  /* --ui-card-background: var(--color-background-soft); */
  --ui-card-background: color-mix(in srgb, var(--color-background-soft) 70%, transparent);
  --ui-card-border: color-mix(in srgb, var(--color-background-hard) 20%, transparent);
  --ui-card-shadow: 0px 2px 14px -7px var(--color-ghost-base);

  --ui-table-border-color: var(--ui-card-border);

  /* Скроллбар */
  --ui-scrollbar-thumb: var(--color-neutral-6);
}
