/* UI tokens */

@theme {
  --ui-offset-x: 17px;
  --ui-offset-y: 7px;
  --ui-gap: 3px;

  --ui-border-width: 2px;
  --ui-rounded: 3px;

  --ui-transition-color-duration: 125ms;
  --ui-transition-border-duration: 100ms;
  --ui-transition-transform-duration: 75ms;

  --ui-animation-hover: spring-pop 0.35s ease-in-out;

  /* prettier-ignore */
  --ui-transition: 
    background-color var(--ui-transition-color-duration) ease-in-out,
    border-color var(--ui-transition-border-duration) ease-in-out,
    transform var(--ui-transition-transform-duration) ease-in-out;

  --ui-shadow: var(--shadow-sm);

  --ui-card-gap: 20px;
  --ui-card-offset-x: 20px;
  --ui-card-offset-y: 20px;
  --ui-card-background: var(--color-background-soft);
  --ui-card-border: var(--color-background);
  /* --ui-card-border: transparent; */
  --ui-card-rounded: 3px;
  --ui-card-shadow: 0px 2px 14px -7px var(--color-ghost-base);
}

/* 🌙  */
body.theme-dark {
  --ui-card-background: var(--color-background-soft);
  --ui-card-border: var(--color-background);
  --ui-card-shadow: 0px 2px 14px -7px var(--color-ghost-base);
}
