@import "tailwindcss";

@theme {
  --typography-spacing: 1.125rem; /* 18px */
  --line-height-normal: 1.7em;
  --letter-spacing-normal: 0.05em;
}

@layer components {
  .container {
    & h1 {
      margin-bottom: var(--typography-spacing);
      font-size: var(--text-4xl);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);
      letter-spacing: var(--letter-spacing-normal);
    }
    & h2 {
      margin-bottom: var(--typography-spacing);
      font-size: var(--text-3xl);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);
      letter-spacing: var(--letter-spacing-normal);
    }
    & h3 {
      margin-bottom: var(--typography-spacing);
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);
      letter-spacing: var(--letter-spacing-normal);
    }
    & h4 {
      margin-bottom: var(--typography-spacing);
      font-size: var(--text-xl);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);
      letter-spacing: var(--letter-spacing-normal);
    }
    & h5 {
      margin-bottom: var(--typography-spacing);
      font-size: var(--text-lg);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);
      letter-spacing: var(--letter-spacing-normal);
    }
    & h6 {
      margin-bottom: var(--typography-spacing);
      font-size: var(--text-base);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);
      letter-spacing: var(--letter-spacing-normal);
    }
    & hr {
      margin-block: calc(var(--typography-spacing) * 1.5);
      border: 1px solid var(--color-border);
    }
    & p,
    ul,
    ol,
    dl,
    blockquote,
    pre,
    code {
      margin-bottom: var(--typography-spacing);
      font-size: var(--text-lg);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-normal);
    }
    & p,
    ul,
    ol,
    blockquote {
      letter-spacing: calc(var(--letter-spacing-normal) * 1.2);
    }
    & code {
      display: inline-block;
      font-family: var(--font-family-mono);
      font-weight: var(--font-weight-semibold);
      line-height: var(--line-height-normal);
      background-color: var(--color-background);
      padding: 1rem 1.5rem;
      margin: var(--typography-spacing) 0 calc(var(--typography-spacing) * 2.5);
      border-radius: 0.5rem;
    }
    & pre > code {
      display: block;
    }
  }
}
