# Каталог для хранения временных служебных файлов
RUNTIME_DIR="/runtime"

# Параметры сервера
HOST=${HOST}
PORT=${PORT}

# Урл для соединения с БД
DB_CONNECTION_URL=${DB_CONNECTION_URL}

# Логи
LOG_DIR="/logs"
LOG_LEVEL="info"
LOG_FILE="app.log"

# CORS
CORS_ORIGIN="*"

# GenAPI
INTEGRATION_GEN_API_BASE_URL=${INTEGRATION_GEN_API_BASE_URL}
INTEGRATION_GEN_API_KEY=${INTEGRATION_GEN_API_KEY}
