{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "none",
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": false
}
