/* https://www.cssportal.com/css-loader-generator/ */

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--color-background-hard);
  border-right-color: var(--color-primary);
  animation: s2 0.5s infinite linear;
  user-select: none;
}

.infinityLoader {
  width: 100%;
  /* width: calc(80px / 0.707); */
  height: 14px;
  background: repeating-linear-gradient(-45deg, var(--color-warning) 0 15px, var(--color-warning-foreground) 0 30px)
    left/200% 100%;
  animation: i3 20s infinite linear;
}

.inlineLoader {
  width: 50px;
  height: 12px;
  background: radial-gradient(circle closest-side, var(--color-primary) 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, var(--color-primary) 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, var(--color-primary) 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 100%;
  background-repeat: no-repeat;
  animation: d7 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes i3 {
  100% {
    background-position: right;
  }
}

@keyframes d7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
